
Course Javascript/javascript-sandbox-final/08-shopping-list-project/09-update-item-reset-state/shopping-list/
Course PHP/cms-with-translation-feature/
Course Javascript/javascript-sandbox-final/08-shopping-list-project/03-clear-ui-state/shopping-list/
Course Javascript/javascript-sandbox-final/08-shopping-list-project/05-add-items-localstorage/shopping-list/
Course Javascript/javascript-sandbox-final/08-shopping-list-project/04-filter-items/shopping-list/
Course Javascript/javascript-sandbox-final/08-shopping-list-project/06-display-items-localstorage/shopping-list/
Course Javascript/javascript-sandbox-final/11-flixx-app-project/11-search-pagination/flixx-app/
Course Javascript/javascript-sandbox-final/08-shopping-list-project/10-prevent-duplicate-items/shopping-list/
Course Javascript/javascript-sandbox-final/08-shopping-list-project/08-set-edit-mode/shopping-list/
Course PHP/demo/
Course Javascript/javascript-sandbox-final/08-shopping-list-project/07-remove-items-localstorage/shopping-list/
